html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
body {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
#gameContainer {
  position: relative;
}

#game {
  border-style: solid;
  border-color:  white;
  border-width: 1px;
  background-color: black;
}

h1 {
  color: white;
  top: 0;
  left: 0;
}

#score {
  top: 10px;
  left: 220px;
}

#highScore {
  top: 10px;
  left: 220px;
}