html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: grid;
    justify-content: center;
    background-color: white;
    width: 400px;
    height: 400px;
}

button, div {
    padding: 0;
    margin: 0;

}
div {}
